  @import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

  * {

      font-family: "Roboto";
  }

  
 
 
 
  

  :root {
      --color-1: #e3d1c1;
      --color-2: #dea981ad;
      --color-3:#FFD1D1;
      --color-4:#FFF5E4;
      --color-5:#FFE3E1;
      --color-6:#FFD1D1;
      --color-7:#FF9494;

  }
body{
    background-color: var(--color-4);
}
  .navbar {
      background-color: transparent;
      position: absolute;
  }

  #img-fundo {
      width: 100%;
      height: 80vh;

  }

  #img-fundo>img {
      height: 100%;
      width: 100%;

  }

  /* main */
  /* card section */

  /* cards */
  .card {
      max-width: 80%;
      background-color: var(--color-2);
  }

  #section-cards .col {
      display: flex;
      justify-content: center;
  }

  /* cards end */
  /* main end */